DATABASE_URL="file:./dev.db"
JWT_SECRET="troque-por-uma-chave-longa"
ADMIN_EMAIL="admin@ngfracing.com"
ADMIN_PASSWORD="Ngfracing@#2026!"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

POSTGRES_PRISMA_URL="postgresql://neondb_owner:npg_sq0aCkTg4BlR@ep-quiet-fog-acbasb6k-pooler.sa-east-1.aws.neon.tech/neondb?connect_timeout=15&sslmode=require"
POSTGRES_URL_NON_POOLING="postgresql://neondb_owner:npg_sq0aCkTg4BlR@ep-quiet-fog-acbasb6k.sa-east-1.aws.neon.tech/neondb?sslmode=require"